<% include header%>
    <style>
        div.item {
            position: relative;
            width: 225px;
            border: 1px solid #cccccc;
            text-align: center;
            border-radius: 4px;
            padding-top: 50px;
            display: inline-block;
        }
        
        p {
            font-size: 28px;
        }
    </style>
    <h2>
        Clase De Armas
    </h2>
    <form method="post" role="from">
        <div class="item">
            <p><strong> AuG </strong></p>
            <img src="/recursos/arma1_1.jpg" />
            <p>
                El AuG es un rifle de mediana distancia con rafas muy potentes
            </p>

        </div>
        <div class="item">
            <p><strong> Revolver </strong></p>
            <img src="/recursos/arma2_2.jpg" />
            <p>
                Un gran revolver que destroza cualquier cosa a su paso
            </p>
        </div>
        <div class="item">
            <p><strong> Lot De Armas</strong></p>
            <img src="/recursos/arma3_3.jpg" />
            <p>
                Un gran loot de armas te esperan desde rifles de francotirador hasta lanzacohetes </p>
        </div>
        <div class="item">
            <p><strong> Raygun </strong></p>
            <img src="/recursos/arma4_4.jpg" />
            <p>
                El Arma MK-LOR es un arma a distancia que logra infliguir un gran daño
            </p>
        </div>

    </form>
    <% include footer %>