<% include header%>
<style>
div.item {
    position: relative;
    width: 225px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 50px;
    display: inline-block;
}
div img{
    width: 150px;
}
body{
    background: url("/recursos/fondo1.jpg");
}
p{
    font-size: 28px;
}
</style>
<h2>
    Clase  De Victimas
</h2>
<form method="post" role= "from">
<div class="item">
<p><strong> Persona Rellena </strong></p>
<img src="/recursos/victim1.jpg"/>
<p>
Es la vitima preferida para los zombies rapidos por lo que es facil de alcansar y ademas es suficiente alimento
</p>    

</div>
<div class="item">
<p><strong> Multitudes  </strong></p>
<img src="/recursos/victim2.jpg"/>
<p> 
 para el zombies esploxibo este tipo de victimas son sus preeridas por los que como son multitudes generan mucho desartre en masa 
</p>    
</div>
<div class="item">
<p><strong> Girrasol </strong></p>
<img src="/recursos/victim4.jpg"/> 
<p>
   Esta victima es la preferida del zomie come palta     
</p>   
</div>
<div class="item">
<p><strong> Judios  </strong></p>
<img src="/recursos/victima3.jpg"/>    
<p>
    Este tipo de victimas es la preferida para los zombies nazis 
</p>

</div>

</form>
<% include footer %>